name: Test and Build

on:
  pull_request:
    types: [labeled]

permissions:
  contents: read

jobs:
  build:
    name: Feeds Package Test Build
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'not following guidelines') }}
    uses: openwrt/actions-shared-workflows/.github/workflows/multi-arch-test-build.yml@main
