name: Test and Build

on:
  pull_request:

jobs:
  formalities:
    name: Test Formalities
    uses: georgesapkin/openwrt-actions-shared-workflows/.github/workflows/formal.yml@formal-check-for-github-sob-test

  build:
    name: Feeds Package Test Build
    needs: formalities
    uses: openwrt/actions-shared-workflows/.github/workflows/multi-arch-test-build.yml@main
